* {
    padding: 0;
    margin: 0;
}

#profile, #about, #education, #hobbies {
    min-height: 550px;
    padding-bottom: 50px;
}

#profile {
    background-image: url("/Assets/MultiMedia/Img/templete-8.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: inherit;
}

#profile img {
    margin: 100px auto 20px auto;
    width: 350px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0 0 10px 0.2px black;
}

#profile img:hover {
    transition-property: transform;
    transition-delay: 0.2s;
    transition-duration: 2s;
    transform: rotateY(360deg);
    transition-timing-function: linear;
}

#profile h1 {
    background: -webkit-linear-gradient(180deg, #b3b57d, #4d4d4d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 45px;
    width: fit-content;
    margin: 0 auto;
    border-bottom: 0.01rem solid white;
}

ul>li {
    /* list-style: none; */
    line-height: 35px;
}

#about {
    background-color: rgb(81, 137, 139);
    background-size: cover;
    padding: 30px;
}

.head {
    padding-top: 50px;
    color: white;
}

.round {
    border: 1px solid;
    padding: 0 4px;
    background-color: rgba(93, 162, 247, 0.3);
    border-radius: 10px;
}

.content {
    color: white;
    font-size: 20px;
    padding-top: 30px;
}

.ed-img {
    height: 160px;
}

#hobbies {
    background-color: rgb(242, 255, 144);
}

#hobbies img:hover~h2, #hobbies img:hover {
    width: 200px;
    margin: auto;
    color: rgb(255, 111, 0);
    text-decoration: underline;
}

#skills {
    background-image: url("/Assets/MultiMedia/Img/templete-2.jpg");
    background-size: cover;
    width: 100%;
    padding: 40px;
}

#skills ul li {
    list-style: none;
    line-height: 55px;
}

#skills ul li:hover {
    border-radius: 30px;
    background: rgba(211, 211, 211, 0.263);
}

#contact {
    background-image: url("/Assets/MultiMedia/Img/templete-11.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-darken {
    background-color: #34343491;
}

#contact input:focus, #contact textarea:focus {
    border: none;
    outline: none;
}

#contact .head h1 {
    border: 1px solid white;
    border-radius: 30px;
    background-color: #4d4d4d77;
}

#project .head h1 {
    background: -webkit-linear-gradient(180deg, #00a6ff, #ff9500);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pj-logo {
    width: 50px;
    animation: rotation 2s infinite linear;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

.pj-logo-t {
    width: 50px;
    animation: translate 2s infinite linear;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes translate {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotatey(359deg);
    }
}

.pj-show {
    margin: auto;
    max-width: 300px;
    max-height: 300px;
}

.show-img {
    width: 290px;
}

.bg-fluid {
    background-color: #4d4d4d3d;
}